<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Agência Hebsix</title>

</head>

<body style="margin:0;padding:0;">
    <table style="width:600px; background-color:#3C4952;padding: 15px;">
        <tr>
            <td style="width: 210px;border-right: 1px solid rgba(233,240,239, 0.2);">
                <a href="http://hebsix.com.br" target="_blank">
                    <img src="http://hebsix.com.br/assets/images/hebsix.png" alt="Agência Hebsix" style="display:block;margin:0;width: 200px;" />
                </a>
            </td>
            <td style="color:#E9F0EF;font-family: Trebuchet MS;vertical-align:top;padding-left:10px;">
                <span style="font-weight: bold;font-size: 18px;display:block;text-transform:uppercase;margin-bottom:5px;">GUSTAVO SALES</span>
                <span style="font-weight: bold;font-size: 11px;display:block;text-transform:uppercase;margin-bottom:30px;">Diretor</span>

                <span style="font-size: 13px;display:block;margin-bottom:3px;">
                    <strong>Telefone/ WhatsApp: </strong> <a href="tel:952978616" style="color:#E9F0EF;text-decoration:none;">11 9 5297 8616</a>
                </span>
                <span style="font-size: 13px;display:block;margin-bottom:3px;">
                    <strong>Skype: </strong> <a href="skype:guustavosales" style="color:#E9F0EF;text-decoration:none;">guustavosales</a>
                </span>
                <span style="font-size: 13px;display:block;margin-bottom:3px;">
                    <strong>Linkedin: </strong> <a href="https://br.linkedin.com/in/gsaless" target="_blank" style="color:#E9F0EF;text-decoration:none;">/gsaless</a>
                </span>
                <span style="font-size: 13px;display:block;margin-bottom:3px;">
                    <strong>Facebook: </strong> <a href="https://www.facebook.com/agenciahebsix/" target="_blank" style="color:#E9F0EF;text-decoration:none;">/agenciahebsix</a>
                </span>
            </td>
        </tr>
    </table>
</body>

</html>