@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600';
@import 'https://fonts.googleapis.com/css?family=Exo:700';

object{
    display:none;
}

body{
    margin:0;
    padding:0;
    font-family: $text_family;
    font-size: $text_size;
    font-weight: $text_weight;
    color: $text_color;
    overflow-x: hidden;
}

.h3, h3{
    font-weight: 300;
}

a{
    color:$link_color;
    @include transition(color 0.3s ease-out);

    &:hover{
        color:$link_color_hover;
        text-decoration: none;
    }

    &:visited,
    &:active,
    &:focus{
        text-decoration: none!important;
    }
}

.disabled, [disabled]{
    pointer-events: none;
}

.btn{
    border-radius: $border_radius;
    font-weight: bold;
    padding: 8px 20px;
    text-transform: uppercase;

    @include transition(all 0.3s ease);

    &.active,
    &:focus,
    &:active{
        box-shadow:none!important;
        outline:none!important;
    }

    &.btn-green{
        background:transparent;
        border: 1px solid $green;
        color:$green;

        &:hover,
        &.active{
            background: $green;
            color:#fff;
        }
    }
}

.alert{
    color:#fff;
    border-radius: 0;

    &.alert-success{
        background-color: $alert_success;
        border-color: $alert_success;
    }

    &.alert-danger{
        background-color: $alert_danger;
        border-color: $alert_danger;
    }
}

form{
    section{
        margin-bottom: 30px;

        h3{
            margin-bottom: 2px;
        }
    }

    .error{
        color:$error_color;
    }

    .form-control.error{
        border-color: $error_color;

        &:focus{
            border-color: $error_color!important;
        }

        @include placeholder {
            color: $error_color;
        }
    }

    .form-feedback{
        .alert{
            display:none;
        }
    }

    button[type=submit]{
        i{
            display:none;
        }
    }
}

.form-control{
    border-radius: $border_radius;
    box-shadow: none!important;
}

.icheck-label{
    cursor:pointer;

    span{
        float: right;
        margin-top: 2px;
        margin-left: 7px;
    }
}

.tabs{
    float:left;
    width:100%;

    .tabs-wrapper{
        float:left;
        width:100%;
    }

    margin-top:20px;

    nav{
        float:left;
        border-bottom: 3px solid $green;
        margin-bottom:15px;

        .btn{
            padding: 8px 20px;
            color:#ccc;

            @include transition(all 0.3s ease);

            &:hover{
                color:$text_color;
            }

            &.active{
                background:$green;
                color:#fff;
            }
        }
    }
}




main{
    
}

footer{
    
}