/****************
    VARIABLES
****************/

/**** TEXT *****/
$text_family: 'Open Sans', sans-serif;
$text_weight: 400;
$text_color: #4d4d4d;
$text_size: 13px;

/**** LINKS ****/
$link_color: #914f8a;
$link_color_hover: #56918c;

/*** COLORS ****/
$purple: #914f8a;
$green: #84c26d;
$gray: #98a295;
$blue: #56918c;
$dark_blue: #3c4952;

/*** GENERAL ****/
$border_radius: 0;

$error_color: #bf483f;

$alert_success: #8dc63f;
$alert_danger: #cc3f44;