/****************
    VARIABLES
****************/

/**** TEXT *****/
$textFamily: 'Open Sans', sans-serif;
$textWeight: 400;
$textColor: #4d4d4d;
$textSize: 13px;

/**** LINKS ****/
$linkColor: #914f8a;
$linkColorHover: #56918c;

/*** COLORS ****/
$green: #8dc63f;

/*** GENERAL ****/
$borderRadius: 0;
